.top {
    // display: flex;
    padding-right: 50px;
    // justify-content: flex-end;
    // align-items: center;
    height: 60px;
    > div {
        border-radius: 50%;
        border: 1px solid #ddd;
        height: 35px;
        width: 35px;
        text-align: center;
        line-height: 30px;
        img {
            width: 25px;
            height: 25px;
        }
    }
    span {
        line-height: 35px;
        font-size: 18px;
    }
    
}